# Load historical prices on 1h interval for bitcoin

In [1]:
API_Key = "VKBSmOKljPJF673UkPloF5mZ5X4DruNUvWOOZ6zo8D74rQMtpA0blnPJsEbVTTq2"
Secret_Key = "bdVCIsdAwqSxzIgbRPPuBHr5n0KMgOxNw9JFFr00YUvKmZgGCr9vSdp4nhsYS59O"

In [2]:
from binance.client import Client
import pandas as pd

In [3]:
client = Client(api_key = API_Key, api_secret = Secret_Key, tld="com")

In [4]:
account = client.get_account()

In [5]:
timestamp = client._get_earliest_valid_timestamp(symbol = "BTCUSDT", interval = "1h")
timestamp

1502942400000

In [6]:
pd.to_datetime(timestamp, unit="ms")

Timestamp('2017-08-17 04:00:00')

In [7]:
def get_history(symbol, interval, start, end= None):
    bars = client.get_historical_klines(symbol = symbol,
                                    interval = interval, start_str = start, end_str = end, limit=1000)
    historicalPrices = pd.DataFrame(bars)
    historicalPrices["Date"] = pd.to_datetime(historicalPrices.iloc[:,0], unit= "ms") 
    historicalPrices.columns = ["Open Time", "Open", "High", "Low", "Close", "Volume", "Clos Time",
                                "Quote Asset Volume", "Number of Trades", "Taker Buy Base Asset Volume",
                                "Taker Buy Quote Asset Volume","Ignore", "Date"]
    historicalPrices = historicalPrices[["Date", "Open", "High", "Low", "Close", "Volume"]].copy()
    historicalPrices.set_index("Date", inplace=True)
    for column in historicalPrices.columns:
        historicalPrices[column] = pd.to_numeric(historicalPrices[column], errors = "coerce")
    
    return historicalPrices

In [8]:
df = get_history(symbol="BTCUSDT", interval="1h", start=timestamp)

In [10]:
df

                         Open      High       Low     Close      Volume
Date
2017-08-17 04:00:00   4261.48   4313.62   4261.32   4308.83   47.181009
2017-08-17 05:00:00   4308.83   4328.69   4291.37   4315.32   23.234916
2017-08-17 06:00:00   4330.29   4345.45   4309.37   4324.35    7.229691
2017-08-17 07:00:00   4316.62   4349.99   4287.41   4349.99    4.443249
2017-08-17 08:00:00   4333.32   4377.85   4333.32   4360.69    0.972807
...                       ...       ...       ...       ...         ...
2023-12-30 18:00:00  42489.00  42515.26  42329.62  42411.11  790.866750
2023-12-30 19:00:00  42411.11  42455.46  42339.24  42361.13  741.062640
2023-12-30 20:00:00  42361.13  42399.25  42199.98  42283.95  797.193820
2023-12-30 21:00:00  42283.95  42329.77  42223.99  42305.08  754.613100
2023-12-30 22:00:00  42305.08  42308.69  42218.87  42223.31  395.453460

[55715 rows x 5 columns]

In [16]:
df.to_csv('btc_data.csv', columns=['Close', 'Volume'])

In [17]:
df.to_csv('btc_data_1h.csv')